<menu>
	<li>
		<a href="/<%= user.username %>/user_check_in/">
			Check-in
		</a>
	</li>
	<li>
		<a href="/<%= user.username %>/user_lines/">
			Lines
		</a>
	</li>
	<li>
		<a href="/<%= user.username %>/user_points/">
			Points
		</a>
	</li>
	<li>
		<a href="/<%= user.username %>/user_profile/">
			Profile
		</a>
	</li>
	<li>
		<a href="/<%= user.username %>/user_notifications/">
			Notifications
		</a>
	</li>
</menu>