<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Message</h2>
    </header>
    <section class="bordered">
		<form method="post" action="/<%= user.username %>/user_message/" class="form-skin">
			<fieldset>
			  <label>Post a message:</label>
			  <label>To: </label>
			  <input id="tID" type="text" name="tID" value="<%= tID %>" />
			  <label>From: </label>
			  <input id="fID" type="text" name="fID" value="<%= fID %>" />
			  <textarea id="message" name="message" rows="4" cols="50"></textarea>
			</fieldset>						
			<p>
			  <input id="post" type="button" value="Post Message" class="btn btn-flat btn-blue no-radius"/>
			</p>
		</form>
		<ul>
		<% for(var i=0; i<message_doc.length; i++) {%>
		<li>
			<%= message_doc[i].username %> : <%= message_doc[i].message %> 
		</li>
		<% } %>
		</ul>

    </section>
</section>

<% include footer %>

  <script type="text/javascript">
	var markup;
      $('#post').click(function(){ 
      	console.log("post clicked"); 
		var messageString = $("#message").val(),
			tIDString = $("#tID").val(),
			fIDString = $("#fID").val();
		console.log("tIDString "+tIDString);			
		console.log("fIDString "+fIDString);
		if((messageString.length > 0) && (tIDString.length > 0) && (fIDString.length > 0)) {
		     $.ajax({ 
		           url: '/<%= user.username %>/user_message/',
		           type: 'POST',
		           cache: false, 
		           data: { message: messageString, tID: tIDString, fID: fIDString }, 
		           success: function(data){
		           	  markup = data;
		              //alert('Success!');
		              $("section ul").append(data);
		              
		           }
		           , error: function(jqXHR, textStatus, err){
		               alert('text status '+textStatus+', err '+err)
		           }
		        });
		}
     });            

  </script>