<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Notifications</h2>
    </header>
    <section class="bordered">
		<ul>
		<% for(var i=0; i<messages_doc.length; i++) {%>
			<li>
			<form id="form<%= i %>" method="post" action="/<%= user.username %>/user_message/" class="form-skin">
			
			<%= messages_doc[i]._id.username %>
			<fieldset>
			  <input id="oID" type="text" name="oID" value="<%= messages_doc[i]._id.fID %>" />
			</fieldset>
			<p>
			  <input type="submit" value="Message" class="btn btn-flat btn-blue no-radius"/>
			</p>	
			</form>
			</li>
		<% } %>
		</ul>
    </section>
</section>

<% include footer %>