<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Message</h2>
    </header>
    <section class="bordered">
		<form method="post" action="/<%= user.username %>/user_message/" class="form-skin">
			<fieldset>
			  <label>Post a message:</label>
			  <input id="cID" type="text" name="cID" value="<%= cID %>" />
			  <textarea id="message" name="message" rows="4" cols="50"></textarea>
			</fieldset>						
			<p>
			  <input id="post" type="buton" value="Post Message" class="btn btn-flat btn-blue no-radius"/>
			</p>
		</form>
		<ul>
		<% for(var i=0; i<messages.check_in.check_in_message.message_thread.length; i++) {%>
			<li>
			<%= messages.check_in.check_in_message.message_thread[i].message %>
			</li>
		<% } %>
		</ul>
    </section>
</section>

<% include footer %>

  <script type="text/javascript">
	var markup;
      $('#post').click(function(){ 
      	console.log("post clicked"); 
		var messageString = $("#message").val(),
			cIDString = $("#cID").val();
		
     $.ajax({ 
           url: '/<%= user.username %>/user_message/',
           type: 'POST',
           cache: false, 
           data: { message: messageString, cID: cIDString }, 
           success: function(data){
           	  console.log(typeof(data));
           	  markup = data;
              //alert('Success!');
              $("section ul").append(data);
              
           }
           , error: function(jqXHR, textStatus, err){
               alert('text status '+textStatus+', err '+err)
           }
        })
     });            

  </script>