<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Message</h2>
    </header>
    <section class="bordered">
		<form method="post" action="/<%= user.username %>/user_message/" class="form-skin">
			<fieldset>
			  <label class="hide" >Post a message:</label>
			  <label class="hide" >Check-in ID: </label>
			  <input class="hide" id="cID" type="text" name="cID" value="<%= cID %>" />
			  <label class="hide" >To: </label>
			  <input class="hide" id="tID" type="text" name="tID" value="<%= tID %>" />
			  <label class="hide" >From: </label>
			  <input class="hide" id="fID" type="text" name="fID" value="<%= fID %>" />
			  <textarea id="message" name="message" rows="4" cols="50"></textarea>
			</fieldset>						
			<p>
			  <input id="post" type="button" value="Post Message" class="btn btn-flat btn-blue no-radius"/>
			</p>
		</form>
		<ul>
		<% if(message_doc != "") { %>
			<% for(var i=0; i<message_doc[0].thread.length; i++) {%>
				<li index="<%= i %>"> 
					<%= message_doc[0].thread[i].username %>: <%= message_doc[0].thread[i].message %> <br />
					<%= message_doc[0].thread[i].time %>			
				</li>
			<% } %>
		<% } %>
		</ul>
    </section>
</section>

<% include footer %>

  <script type="text/javascript">
  	var markup;
	$(document).ready(function() {
	  $("body, input, textarea").keypress(function(e){
	  		//console.log("key pressed");
	        if(e.which==13) {
			var messageString = $("#message").val(),
				cIDString = $("#cID").val(),
				tIDString = $("#tID").val(),
				fIDString = $("#fID").val();
			postMessage(messageString, cIDString, tIDString, fIDString);
			$("#message").val("");	        
	        }
	   });	
      $('#post').click(function(){ 
      	console.log("post clicked"); 
		var messageString = $("#message").val(),
			cIDString = $("#cID").val(),
			tIDString = $("#tID").val(),
			fIDString = $("#fID").val();
		postMessage(messageString, cIDString, tIDString, fIDString);
      });
      setInterval(function(){
      	getNextMessage();
      },3000);
	});     
     function postMessage(messageString, cIDString, tIDString, fIDString) {
		if((messageString.length > 0) && (cIDString.length > 0) && (tIDString.length > 0) && (fIDString.length > 0)) {
		     $.ajax({ 
		           url: '/<%= user.username %>/user_message/',
		           type: 'POST',
		           cache: false, 
		           data: { message: messageString, cID: cIDString, tID: tIDString, fID: fIDString }, 
		           success: function(data){
		           	  markup = data;
		              //alert('Success!');
		              //console.log("data "+data);
		              $("section ul").append(data);
		           }
		           , error: function(jqXHR, textStatus, err){
		               alert('text status '+textStatus+', err '+err)
		           }
		        });
		}     
     }            

     function getNextMessage() {
     	var current_thread_length = $("ul li").length,
     		cID = $("#cID").val();
		 	//console.log(current_thread_length);
		     $.ajax({ 
		           url: '/<%= user.username %>/user_next_message/',
		           type: 'POST',
		           cache: false, 
		           data: { cID: cID, current_thread_length: current_thread_length }, 
		           success: function(data){
		           	  markup = data;
		              //alert('Success!');
		              //console.log("data "+data);
		              $("section ul").append(data);
		           }
		           , error: function(jqXHR, textStatus, err){
		               alert('text status '+textStatus+', err '+err)
		           }
		        });
   
     }
  </script>